<div class="row">
    <div class="col-8">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Length (km)</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tracks" class="{{item?.color}}">
                    <td>{{item?.name}}</td>
                    <td>{{item?.length_km}}</td>
                    <td>{{item?.rating}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <form>
            <div class="form-group row">
                <label for="sort" class="col-form-label col-sm-3">Sort by:</label>
                <div class="col-9">
                    <select name="sort" id="sort" class="form-control" [(ngModel)]="sort" (change)="updateCriteria()">
                        <option value="length_km">Length</option>
                        <option value="rating">Rating</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>